@media only screen and (min-width:600px){ 
	
	/*************************/
	/* ABOUT WEBPAGE STYLING */
	/*************************/

	.outer-container {
		display: contents;
	}

	.content-container {
		margin: auto;
		height: 100%;
		width: 40%;
		align-items: center;
		justify-content: center;
		background-color: #e3e3e3;
		border: solid #c2c2c2;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		overflow: visible;
	}

	.subheader{
		margin-top: 2vh;
		margin-bottom: -1vh;
		display: flex;
		width: 50%;
		background: rgb(218, 41, 28);
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		border-style: none;
		font-size: 10px;
	} 
	
	.subheader h1{
		color: white;
		background: rgb(218, 41, 28);
	}

	.logoContainer {
		margin-top: 0;
	}

	.logoContainer img {
		width: 80px;
		height: 80px;
		margin: 5px;
	}

	.content {
		width: 100%;
		align-items: center;
		justify-content: center;
		align-content: center;
		display:flex;
		flex-direction: column;
	}

	.content p{
		width: 70%;		
		text-align: left;
	}

	.content h2 {
		text-align: center;
		color:rgb(40, 40, 40);
	}

	.content h3 {
		text-align: center;
		color:rgb(40, 40, 40);
		display: flex;
	}

	.content ul {
		list-style-type: none;
		margin-top: 1vh;
		margin-bottom: 5vh;
	}

	.content ul li {
		background-color: rgb(218, 41, 28);
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
		border-radius: 10px;
	}

	.content ul li a {
		color: white;
		text-decoration: none;
		font-size: 18px;
		padding: 20px;
		display: block;
		transition: 0.3s;
		border-radius: 10px;
	}

	.content a:hover {
		background-color: rgb(173, 36, 36);
		border-radius: 10px;
	}

	/*edits the footer div*/
	footer {
		margin-top: 5vh;
		background-color: #c2c2c2;
		width: 100%;			
		position: relative;		
		min-height: 10vh;		
		bottom: 0px;
	}

}

/*
███████████████████████████████████████████████████████████████████████
███████████████████████████████████████████████████████████████████████
███████████████████████████████████████████████████████████████████████
                ██      ███████████████████████████████████████████████
               █          ██████████████████████████████████████████ ██
              ██   █████   ██████████████████████████████████ ███ █████
               █    ██      ███████████████████████████████████████████
                 █████      ███████████████████████████████████████████
               ███████      ███████████████████████████████████ ███████
            ██████████       █████████████████████████████████ ████████
           ██████          ████████████████████████████████████████████
            █████  █       ████████████████████████████████████████████
        ████     ██        ████████████████████████████████████████████
 █   █  ██   █    █████████████████████████████████████████████████████
███████████████████████████████████████████████████████████████ ███████
                                               ████████████████████████
                                          █        ██████████████ █████
                                             █      ███████████████████
                                      ████  █ █       ████  ███████████
                                      ████████ █      █████████████████
                                    ██████ █████       ███████████ ████
                                  █████████  ██         █    ██████████
                                      ██████████       ████████████████
                                          ██████       ██ █████████████
                                          ████         ████████████████
                                        ███ ██       ██████████████████
                                       ██      ██ ██ ███ ██████████████
     █     ██     ██  ████ ██  ██ █ ██ ██ ██   ████████████████████████
███████    █   █       ███    █   █   █   █ █ █  ██ █  █ █   ██████████
███████   ██ ███ ██  █ ███  ███ █ █   █   █ █ █  ██ █  █ █ ████████████
███████   ██ ███ ██   ████  █ █ █     █   █ █ █  ██ █    █ █  █████ ███
      █    █   █     █   █  █ █      █ █  █ █ █  ██ █    █ █  ███      
      ████████████████    ███████████████████████████████████████      
*/