@media only screen and (min-width:600px){ 


    .subheader {
        margin:auto;
        margin-top: 6vh;
    }

    footer {
        background-color: #c2c2c2;		
        text-align: center;
        position: relative;
        margin-top: 5%;
        height: 150px;
        width: 100%;
    }

/* --------------------------------- SEARCH TOOLS STYLING --------------------------------- */
    #exploreSearchbar {
        display: block;
        width: 80%;
        margin: 20px auto;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #c2c2c2;
        border-radius: 5px;
    }
    
    #searchResult {
        width: 80%;
        align-self: center;
        justify-content: center;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(5, 1fr)
    }

/* --------------------------------- SEARCH TOOLS STYLING --------------------------------- */




/* --------------------------------- FILTER STYLING --------------------------------- */

    /* Example css for the category search options */
    #popupOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    #popupMenu {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 300px;
        text-align: center;
    }
    
    #categories {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;
    }
    
    #openPopupBtn {
        margin: 5px auto;
        padding: 10px;
        width: 20%;
        border: solid 1px;
        border-radius: 5px;
        border-color: #c2c2c2;
        cursor: pointer;
        background: rgb(245, 245, 245);
        color:rgb(40, 40, 40);
        font-size: 18px;
        transition: 0.3s;
    }
    
    #openPopupBtn:hover {
		color: white;
		background-color: rgb(218, 41, 28);
		border-color: rgb(218, 41, 28);
    }
    
/* --------------------------------- FILTER STYLING --------------------------------- */




/* --------------------------------- RESULT STYLING --------------------------------- */

    /* Edit the dynamic results of a given search */
    .result-item {
        border: solid 1px;
        border-color:#c2c2c2;
        border-radius: 5px;
        margin: auto;
        margin-top: 10px;
        padding: 15px;
        transition: 0.3s;
    }

    /* Edit the appearance of results when hovering over them. */
    .result-item:hover {
        color: white;
		background-color: #003d77;
		border-color: #003d77;
        transform: scale(1.05);
    }

    .result-item h3 {
        text-decoration: underline overline;
        text-underline-offset: 8px;
        margin-bottom: 6px;
        font-size: 26px;
    }

/* --------------------------------- RESULT STYLING --------------------------------- */
    
}