@media only screen and (min-width:512px){ 

	/* Adds these attributes to the entire webpage*/
	* {
		margin: 0;
		padding: 0;
	}
	html, body {
		height: 100%;
		width: 100%;
		margin: 0;
	}
	
	/* Body attributes */
	body {
		font-family: Arial, sans-serif;
		background-color: #e0e0e0;
		display: flex;
		flex-direction: column;
		height: auto;
	}
	
	/* Header attributes */
	/* header includes subheader */
	header{
		width: 100%;
		margin-bottom: 1rem;
		justify-items: center;
	}
	
	.logoImg {
		width: 100px;
		height: 100px;
	}

	/* Navbar attributes */
	nav {
		background-color: rgb(218, 41, 28);
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
		width: 70%;
		padding: 0px 16px;
		margin-top: 10px;
		align-self: center;
		position: fixed;
		z-index: 1000; 		/*Prevents navbar from being covered*/
		height: 65px;
		border-radius: 20px;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
	}

	/* Edits unordered list that stores the links in the navbar*/
	nav ul {
		margin-left: 15px;
		list-style-type: none;
		display:flex;
		align-items: center;
	}

	/* Edits unordered list items*/
	nav ul li {
		margin: 0 0px;			/* Creates spaces on the side of each link*/
	}

	/* Edits text of the link buttons*/
	nav ul li a {
		color: white;
		text-decoration: none;
		font-size: 18px;
		padding: 20px;			/*creates padding around each link*/
		display: block;			/*sets the dislay to block*/
		transition: 0.3s;			 /*changes how long it takes to change color */
	}
	
	/* Edits navbar links with mouse hovering*/
	nav a:hover {
			background-color: rgb(173, 36, 36);
			transform: scale(1.1);
		}	
	
	/*This is for the login/signup button*/
	#login_signup{
		color: white;		
		text-decoration: none;
		margin-right: 15px;
		font-size: 18px;	
		padding: 20px;
		display: block;
		transition: 0.3s;
	}

	/* Account Details/User Info styles */
    #user-info {
        color: white;			
		text-decoration: none;
		font-size: 18px;		
		padding: 20px;	
		display: block;			
    }

    #user-info a /*makes it so the text doesn't go purple bc it treats it as link*/
	{
        color: white;
		text-decoration: none;
		font-size: 18px;
		display: block;	
    }

/*this is for the div that contains the searchbar*/
	#searcharea{
		background-color: white; 
		width: 40%;				
		padding: 5px;			
		border-radius: 15px;	
		display: flex;			
	}
	
	/*edits the part of the searchbar you type into*/
	#searchbar{
		background-color: white;
		width: 50%;				
		padding: 10px;			
		border-radius: 15px;	
		outline: none;			
		
	}
	
	/*This edits the attributes for the subheader that currently contains just the name of the page*/
	.subheader{
		display:flex;
		margin-top: 125px;		
		width: 30%;
		justify-content: center;
		background: #333;		
	} 
	
	/*this is to edit the attributes of the header inside the subheader, this is the text that currently just displays the name of the page*/
	.subheader h1{
		color: white;
		background: #333;	
		padding: 20px;		
	}
	
	/*this edits the attributes of the content div*/
	.content {
		margin-top: 80px; 	
		text-align: center;	
		display: flex;		
		width:100%;			
		align-content: center;
		min-height: 100vh;
		margin-bottom: 80px;
		flex: 1;
	}
	
	/*This edits all paragraph attributes if they are in the content class*/
	.content p{
		width: 100%;							/*This will make the paragraphs 100% of the content width*/
		text-align: center;						/*This will align the text inside the paragraph to center*/
	}
	
	.content a{
		margin:auto;
	}
	
	/*This edits the two divs of userSets and viewedSets inside of the content div*/
	#userSets, #viewedSets{
		width: 50%;								/*This edit the width of both divs so that they are 50% the size of the content*/
		padding: 10px;							/*this gives the divs 10 pixels of padding*/
		margin: 25px;							/*this gives them 25 pixels of margin */
		background: #333;						/*changes the background color to grey*/
		border-radius: 15px;					/*rounds the corners*/
		color: white;							/*makes the text white*/
		
	}

	#studySetCreation{
		margin: 25px;
		padding: 15px;
		border-radius: 15px;
		color:white;
		background:grey;
	}

	/*edits the footer div*/
	footer {
		background-color: #333;					/*sets the background color to grey*/
		width: 100%;								/*stretches it to the length of the page*/
		position: relative;							/*puts the footer at the bottom of the page*/
		height: 100px;							/*sets the height of the footer to 150 pixels*/
		bottom: 0px;
	}
}

/*

⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣤⣤⣤⣤⣤⣶⣦⣤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⡿⠛⠉⠙⠛⠛⠛⠛⠻⢿⣿⣷⣤⡀⠀⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⠋⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⠈⢻⣿⣿⡄⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣸⣿⡏⠀⠀⠀⣠⣶⣾⣿⣿⣿⠿⠿⠿⢿⣿⣿⣿⣄⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠁⠀⠀⢰⣿⣿⣯⠁⠀⠀⠀⠀⠀⠀⠀⠈⠙⢿⣷⡄⠀ 
⠀⠀⣀⣤⣴⣶⣶⣿⡟⠀⠀⠀⢸⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣷⠀ 
⠀⢰⣿⡟⠋⠉⣹⣿⡇⠀⠀⠀⠘⣿⣿⣿⣿⣷⣦⣤⣤⣤⣶⣶⣶⣶⣿⣿⣿⠀ 
⠀⢸⣿⡇⠀⠀⣿⣿⡇⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠃⠀ 
⠀⣸⣿⡇⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠉⠻⠿⣿⣿⣿⣿⡿⠿⠿⠛⢻⣿⡇⠀⠀ 
⠀⣿⣿⠁⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣧⠀⠀ 
⠀⣿⣿⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠀⠀ 
⠀⣿⣿⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠀⠀ 
⠀⢿⣿⡆⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⡇⠀⠀ 
⠀⠸⣿⣧⡀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠃⠀⠀ 
⠀⠀⠛⢿⣿⣿⣿⣿⣇⠀⠀⠀⠀⠀⣰⣿⣿⣷⣶⣶⣶⣶⠶⠀⢠⣿⣿⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⣿⣿⡇⠀⣽⣿⡏⠁⠀⠀⢸⣿⡇⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⣿⣿⡇⠀⢹⣿⡆⠀⠀⠀⣸⣿⠇⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⢿⣿⣦⣄⣀⣠⣴⣿⣿⠁⠀⠈⠻⣿⣿⣿⣿⡿⠏⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠈⠛⠻⠿⠿⠿⠿⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀

*/