
	.outer-container {
		display: flex;
		flex-direction: column;
	}
	
	.content-container {
		margin: auto;
		height: 100%;
		width: 50%;
		align-self: center;
		align-content: center;
		justify-items: center;
		justify-content: center;
		align-items: center;
		background-color: #e3e3e3;
		display:flex;
		flex-direction: column;
	}
	
	.logoContainer {
		height: 25%;
		width: 25%;
		text-align: center;
		margin-top: 10%;
	}

	.logoContainer img {
		height: 100%;
		width: 100%;
	}

	
	/*this edits the login div*/
	#signup{
		color: white;		
		margin: auto;
		margin-bottom: 15vh;
		width: 45%;	
		background-color: #333;
		padding: 30px;		
		border-radius: 15px;
	}

	/*edits the inputs inside of the login div*/
	/*We can probably make these clearner will work on at some point*/
	#signup input{
		padding:10px;							/*gives the inputs 10 pixels of padding*/
		border-radius: 15px;					/*rounds the corners*/
	}
	
	/*edits the username and password inputs specifically*/
	#signup #signup_username, #signup_password, #password_verification{
		width: 60%								/*sets their width at 60%*/
	}

	/*edits links inside of the login div*/
	#signup a{
		color: white;							/*sets their text to white*/
	}
	
	/*edits the submit button on the login/signup page*/
	#signup button{
		padding: 10px;							/*gives the button 10 pixels of padding*/
		border-radius: 15px;					/*rounds the corners of the button*/
	}	

	#userReqs, #passReqs{
		font-size: 12px;
		color: #808080;
	}
